.lessons {
  width: 100%;
  height: calc(100vh - 75px);
  overflow-y: auto;
}
.lessons::-webkit-scrollbar {
  display: none;
}
.lessonData {
  margin: 12px 20px;
  border-radius: 15px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.Review {
  width: 100%;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color:  var(--yellow);
  color: white;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 16px;
}
.Submit {
  width: 100%;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color:  var(--green);
  color: white;
  font-weight: 500;
  font-size: 15px;
  border-radius: 16px;
}
.questionDiv {
  margin-bottom: 10px;
  border: 1px solid var(--blue);
  padding: 10px;
  border-radius: 20px;
  text-align: right;
}
.questionDiv h4 {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
}
.questionDiv p {
  margin-bottom: 5px;
  color: #000000;
  text-align: left;
}
.questionDiv button {
  border: none;
  background-color: #ffffff;
  color: white;
  cursor: pointer;
  padding: 4px;
  border-radius: 48px;
  margin-top: 8px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.questionDiv img{
  width: 100%;
  height: auto;
}