.lessonsx {
  width: 100%;
  overflow-y: auto;
}
.lessonsx::-webkit-scrollbar {
  display: none;
}

.credits{
  text-align: center;
  padding-top: 40px;
}
.lessonxData {
  margin: 25px 20px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.Review {
  width: 100%;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color:  var(--yellow);
  color: white;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 16px;
}
.Submit {
  width: 100%;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color:  var(--green);
  color: white;
  font-weight: 500;
  font-size: 15px;
  border-radius: 16px;
}
.questionDiv {
  margin-bottom: 10px;
  border: 1px solid var(--blue);
  padding: 10px;
  border-radius: 20px;
  text-align: right;
}
.questionDiv h4 {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
}
.questionDiv p {
  margin-bottom: 5px;
  color: #000000;
  text-align: left;
}
.questionDiv button {
  border: none;
  background-color: #ffffff;
  color: white;
  cursor: pointer;
  padding: 4px;
  border-radius: 48px;
  margin-top: 8px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.questionDiv img{
  width: 100%;
  height: auto;
}

/* navigation bar */
nav{
  padding: 0px 120px;
  width: 96%;
  height: 80px;
  box-shadow: rgba(151, 170, 210, 0.2) 0px 7px 29px 0px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  margin-left: 32px;
  border-radius: 20px;
}

/* navigation bar left */
.nav-left{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.maskot{
  display: flex;
}

.maskot img{
  height: 36px;
  margin-right: 10px;
}

.logo a{
  width: 207px;
  height: 40px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--blue);
}
/* end navigation bar left */

/* navigation bar center */
.wrap-menu{
  display: flex;
}

.wrap-menu a{
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.wrap-menu a:hover{
  color: var(--blue);
  font-weight: 600;
  text-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.010);
  transform: translateY(-0.4rem);
}

.menu1 a{
  margin: 0px 16px;
  color: var(--blue);
  font-weight: 600;
}

.menu2 a, .menu3 a, .menu4 a{
  margin: 0px 16px;
}
/* end navigation bar center */

/* navigation bar right */
.nav_right{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_logout button {
  margin: 0px 16px;
  width: 160px;
  height: 40px;
  border-radius: 40px;
  background: var(--blue);
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button:hover{
  transform: translateY(-0.4rem);
  transition: transform 150ms;
}

.nav_logout a{
  color: #FFF;
}

.nav_profile{
  display: flex;
}

.nav_profile img{
  width: 40px;
  height: 40px;
  align-items: center;
}

.medal_js{
  width: 40px;
  height: 40px;
  align-items: center;
}

.nav_profile img:hover{
  transform: translateY(-0.4rem);
  transition: transform 150ms;
}
/* end navigation bar right */

/* navigation bar dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 40px 0px;
  background: #FFF;
}

.dropdown-content a {
  padding: 20px 40px;
  text-decoration: none;
  display: block;
  color: #000;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdown-content a:hover {background-color: var(--blue); border-radius: 40px 0px; color: var(--blue);}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #ffffff;}
/* navigation bar dropdown */

/* end navigation bar */

/* hero section*/
.hero-section{
  width: 100%;
  padding: 140px 120px 40px 120px;
  display: flex;
  flex-direction: column;
  color: var(--blue);
  background: radial-gradient(circle at top, #ffd6de 16%, #ffffff 40%);
  border-radius: 0px 0px 160px 160px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-image{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.hero-image img{
  object-fit: contain;
  object-position: center;
  width: 20%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-information h1{
  color: var(--blue);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
  text-align: center;
}

.hero-information p{
  color: #000;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 20px;
  text-align: center;
}

.hero-section button {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  width: 160px;
  height: 40px;
  border-radius: 40px;
  background: var(--blue);
}

.hero-section a{
  color: #FFF;
}
/* end hero section*/

/* leaderboard */
.homeCenter{
}

.profile-text{
  background: rgba(255, 255, 255, 0.5);
  width: 75%;
}

.credential{
  background-color: white;
}

/* leaderboard title */
.congrats-to-our{
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.title{
  color: var(--blue);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
/* end leaderboard title */

/* leaderboard table */
.table-container { 
  border-radius: 40px 0px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  margin-right: 120px;
  margin-left: 120px;
  box-shadow: 4px 4px 15px rgba(255, 255, 255, 0.12); 
}

table{
  width: auto;
  text-align: center;
  border-collapse: collapse;
}

.tabel tr, .tabel th, .tabel td{
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 1120px;
}

.tabel th{
  color: var(--blue);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tabel td{
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* end leaderboard table */

/* leaderboard table 2 */
#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  transform: scale(1.025);
}
/* end leaderboard table 2 */
/* end leaderboard */

/* about us */
.main-section{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap ;
  justify-content: center;
}

/* about us top */
.main-top{
  width: 100%;
  flex-direction: column;
  background-color: #FFF;
  color: var(--blue);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 80px 0px;
  align-items: center;
  padding: 40px 120px;
}

.top-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding-right: 40px;
}

.top-title h3{
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 20px;
}

.top-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-form-green{
  border-radius: 80px 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 40px 20px;
  margin: 20px;
  width: 300px;
}

.main-form-green a:hover{
  text-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.010);
  transform: scale(1.07);
}


.main-form-green h3{
  color: var(--blue);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-form-green h2{
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}

.main-form-green p{
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-form-green a{
  color: var(--blue);
}

.inFlex{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inFlex a:hover{
  transform: translateY(-0.4rem);
  transition: transform 150ms;
}

.inFlex img{
  width: 40px;
  height: 40px;
  margin: 8px;
}
/* end about us top */

/* about us bottom */
.main-center{
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 40px 0px;
  align-items: center;
  justify-content: space-around;
  padding: 40px 120px;
}

.main-form-green img, .main-form img{
  margin-bottom: 8px;
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
  position: absolute;
    margin-top: -244px;
    margin-left: 28px;
}
.main-form{
  background: rgba(255, 255, 255, 0.5);
  height: 248px;
  padding: 100px 10px 70px 10px;
  margin: 100px 20px 0px 20px;
    width: 260px;
    border-radius: 15px;
    box-shadow: 2.70026px 5.40053px 8.10079px 0px rgba(61, 37, 131, 0.12);
}

.main-form h3{
  color: var(--blue);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-form h2{
  color: #000000;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}

.main-form p{
  color: #000000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-form a{
  color: #FFF;
}
/* end about us bottom */
/* end about us */

/* footer section */
footer a{
  color: #000;
}

.footer{
  padding: 40px 120px 20px 120px;
  background: #FFF;
  box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

/* footer keywords */
.bottom-information1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.bottom-information1 h1{
  display: flex;
  flex-direction: column;
  color: var(--blue);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

.bottom-information1 p{
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
/* end footer keywords */

hr{
  width: 100%;
  border-color: rgba(0,0,0,var(--tw-border-opacity));
  --tw-border-opacity: .1;
}

/* footer contact */
.bottom-information{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
}

.bottom-head{
  margin-bottom: 20px;
  font-weight: bold;
}

.socmed{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socmed img{
  width: 30px;
  height: 30px;
  margin-left: 8px;
}

.call{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.call img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.loc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.loc img{
  width: 25px;
  height: 30px;
  margin-right: 10px;
}
/* end footer contact */

/* footer copyrights */
.bottom-copyright{
  font-size: 16px;
}
/* end footer copyrights */
/* end footer section */

/* media ipad */
@media (max-width: 991px) {
  /* ipad navigation bar */
  nav{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .menu1, .menu2, .menu3, .menu4, .nav_logout{
    display: none;
  }

  .dropbtn {
    display: flex;
  }
  /* end ipad navigation bar */

  /* ipad hero section */
  .hero-section{
    flex-direction: column;
  }

  .hero-image img{
    margin-right: 0px;  
  }

  .hero-information{
    text-align:center;
  }

  .hero-information p{
    text-align:center;
  }
  /* end ipad hero section */

  /* ipad leaderboard */
  /* end ipad leaderboard */

  /* ipad about us */
  .main-section{
    padding-top: 40px;
  }

  .top-box{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-top{
    width: 100%;
  }

  .main-center{
    flex-direction: column;
  }
  /* end ipad about us */

  /* ipad footer section */
  .call, .loc{
    align-items: center;
    flex-direction: column;
  }

  .call img, .loc img{
    margin-bottom: 10px;
  }

  .bottom-copyright{
    font-size: 16px;
  }
  /* end ipad footer section */
}
/* end media ipad */

/* media iphone */
@media (max-width: 431px) {
  /* iphone navigation bar */
  .dropbtn img{
    width: 40px;
    height: 30px;
  }
  /* end iphone navigation bar */

  /* iphone hero section */
  .hero-section {
    padding: 120px 2rem 40px 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 80px 80px;
  }

  .hero-image img{
    width: 280px;
    height: 280px;
    margin-bottom: 16px;
  }

  .hero-information{
    text-align: center;
  }

  .hero-information h1 {
    font-size: 36px;
    margin-bottom: 8px;
    font-weight: 800;
  }

  .hero-information p {
    font-size: 14px;
    margin-bottom: 8px;
    text-align: center;
  }

  .hero-section button {
    font-size: 16px;
    width: 200px;
    margin: 16px 0px 0px 0px;
  }
  /* end iphone hero section */

  /* iphone leaderboard */
  .congrats-to-our {
    font-size: 14px;
    margin-bottom: 8px;
    text-align: center;
  }

  .title{
    font-size: 26px;
    font-weight: 700;
  }

  .table-container {
    padding: 32px;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 20px;
  }

  .tabel th{
    font-size: 18px;
  }

  .tabel td{
    font-size: 14px;
  }
  /* iphone leaderboard */

  /* iphone about us */
  .main-top {
    padding: 40px;
  }

  .top-title{
    flex-direction: column;
    padding-right: 0px;
  }

  .top-title h3{
    font-size: 14px;
    margin-right: 0px;
  }

  .top-title p{
    font-size: 26px;
    font-weight: 700;
  }

  .main-form{
    padding: 40px 20px;
  }
  /* end iphone about us */

  /* iphone footer section */
  .footer{
    padding: 40px 20px;
  }

  .bottom-information1 h1{
    font-size: 16px;
    font-weight: 700;
  }

  .bottom-information1 p{
    font-size: 12px;
    font-weight: 400;
  }

  .bottom-head{
    font-size: 12px;
  }

  .socmed{
    flex-direction: row;
  }

  .call, .loc{
    flex-direction: column;
    font-size: 12px;
  }

  .call img, .socmed img{
    width: 24px;
    height: 24px;
  }

  .loc img{
    width: 20px;
    height: 24px;
  }

  .call p, .loc p{
    padding-right: 1px;
    padding-left: 1px;
  }

  .bottom-copyright{
    font-size: 10px;
  }

  nav{
    width: 84%;
  }

  .maskot img{
    height: 24px;
    margin-right: 10px;
  }

  .nav_profile img{
    height: 28px;
    width: 28px;;
  }

  .main-form img {
    width: 120px;
    height: 120px;
    margin-top: -128px;
    margin-left: 52px;
}
.main-form {
  height: 208px;
  margin-bottom: 20px;
}
.main-center {
  padding: 0px 120px;
}

.profile-text{
  width: 260px;
  padding-left: 0px;
  padding-right: 0px;
}

.credits{
  font-size: 12px;
  text-align: center;
  padding: 40px 40px 0px 40px;
  margin-top: 40px;
}

  /* iphone footer section */
}
/* end media iphone */