.lessonxDiv {
  width: 260px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 2.70026px 5.40053px 8.10079px 0px rgba(61, 37, 131, 0.12);
}

.lessonxDiv img {
  width: 100%;
  height: 135px;
  object-fit: cover;
  overflow: hidden;
}

.lessonxDiv > div:nth-child(1) {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 6px;
}
.lessonxDiv > div:nth-child(2) p {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
}
.startLessonx {
  outline: none;
  border: none;
  background-color: #ffffff;
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 4px;
  display: flex;
  align-items: center;
  border-radius: 48px;
}

.startLessonx  img{
  width: 100%;
  height: auto;
}

.deleteLessonx img{
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.startLessonx :hover {
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}
.lessonxPoint {
  background-color: var(--yellow);
  padding: 0px 4px;
  color: white;
  border-radius: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}

.lessonxPoint img{
  width: 12%;
  height: auto;
  margin-right: 4px;
}
