.admin {
  width: 100%;
  height: calc(100vh - 75px);
  overflow-y: auto;
}
.admin::-webkit-scrollbar {
  display: none;
}
.adminData {
  margin: 25px 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: rgba(178, 181, 184, 0.2) 0px 8px 24px;
}
