#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: rgba(255, 255, 255);
  z-index: 2000;
  font-family: var(--lato);
  transition: 0.5s ease-out;
  overflow-x: hidden;
  scrollbar-width: none;
  box-shadow: rgba(151, 170, 210, 0.2) 0px 7px 9px 0px;
}
#sidebar::--webkit-scrollbar {
  display: none;
}
#sidebar.hide {
  width: 60px;
}
#sidebar .logo {
  display: flex;
  align-items: center;
  padding: 22px  12px;
  box-shadow: rgba(151, 170, 210, 0.2) 0px 7px 29px 0px;
}
#sidebar .logo img {
 width: 120px;
}
#sidebar .side-menu {
  width: 100%;
  margin-top: 25px;
}

#sidebar .side-menu li:nth-child(1) {
  background: var(--grey);
  position: relative;
}

#sidebar .side-menu.top li:nth-child(1) a {
  color: var(--yellow);
}
#sidebar .side-menu.top li:last-child a {
  color: var(--red);
}

.logoBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuIconHidden {
  display: none;
  color: black;
}

#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.5s ease-out;
}
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

#content nav {
  height: 75px;
  background: rgba(255, 255, 255);
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 24px;
  box-shadow: rgba(151, 170, 210, 0.2) 0px 7px 29px 0px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
#content nav > div {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
#content nav > div:nth-child(2) a {
  display: flex;
  align-items: center;
}
#content nav a {
  color: var(--dark);
}
#content nav .menuIcon {
  cursor: pointer;
  color: var(--dark);
  font-size: 22px;
}
#content nav .menuIcon:hover {
  transform: translateY(-0.2rem);
  transition: transform 150ms;
  color: var(--blue);
}
#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}
#content nav .nav-link:hover {
  color: var(--blue);
}
#content nav .nav-link span {
  color: var(--blue);
}
#content nav .navIcon {
  display: flex;
  align-items: center;
  font-size: 22px;
}

#content nav .number {
  position: absolute;
  top: 20px;
  right: 170px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid var(--light);
  color: var(--light);
  font-weight: 600;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content nav .notification .num {
  background: rgb(247, 39, 39);
}
#content nav .profile {
  display: flex;
  align-items: center;
  gap: 16px;
}
#content nav .profile p:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
  width: 85px;
  height: 18px;
  overflow: hidden;
}
#content nav .profile p:nth-child(2) {
  font-size: 12px;
  font-weight: 400;
  color: gray;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 3px;
}
#content nav .profile img {
  width: 33px;
  height: 33px;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }

  #content nav .number {
    top: 10px;
  }
}

@media screen and (max-width: 1200px) {
  #content nav .nav-link {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #content nav {
    height: 55px;
  }
  #content nav .menuIcon {
    font-size: 18px;
  }
  #content nav .lang svg {
    font-size: 18px;
  }
  #content nav .navIcon {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  #sidebar {
    width: 100%;
    transition: 0.2s ease-out;
  }
  #sidebar.hide {
    width: 0px;
  }
  #content {
    width: 0;
    left: 100%;
    transition: 0.2s ease-out;
  }
  #sidebar.hide ~ #content {
    width: 100%;
    left: 0px;
  }
  .menuIconHidden {
    display: block;
  }
}

.sidebar-item{
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 6px;
  padding: 4px;
}

.sidebar-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  letter-spacing: 0.7px;
  text-transform: capitalize;
  color: rgba(108, 86, 82, 0.8);
  font-weight: 500;
}
.sidebar-title span{
  display: flex;
  align-items: center;
}
.sidebar-title span svg{
  min-width: 40px;
    justify-content: center;
    font-size: 20px;
    margin-right: 10px;
}
.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: transform .3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn{
  transform: rotate(180deg);
}
.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
  height: auto;
}

.sidebar-item.plain{
  color: #fff;
  text-decoration: none;
}
.sidebar-item.plain:hover{
  text-decoration: underline;
}
.sidebar-item.plain i{
  display: inline-block;
  width: 1.7em;
}