@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-red {
    @apply bg-red-900;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
  --light: #f9f9f9;
  --blue: #1E0342;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #920000;
  --light-red: #C42A2A;
  --yellow: #FFD143;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --green: #6BCB77;
  --pink: #FF869E;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background: radial-gradient(circle at top left, #fff4d4,#ffffff, #ffd6de);
}
